HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/mvnw
/mvnw.cmd
/.mvn/
/eureka-server/target/
/eureka-client/target/
/user-service/target/
config/src/main/java/com/bwensun/web/
config/src/test/
config/target/
eureka-client/src/main/java/com/bwensun/service/impl/
eureka-client/src/main/resources/mapper/
eureka-client/src/test/
eureka-server/src/main/java/com/bwensun/web/
eureka-server/src/test/
gateway/src/main/java/com/bwensun/web/
gateway/src/test/
gateway/target/
user-service/src/main/resources/mapper/
user-service/src/test/
/gateway/target/
/.gitignore
